 
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(NIGHT10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent !important;
    color:black;
    background-color: black;

    
}
.social-icon  {
    border-radius: 50%;
    text-align:right;
    position: absolute;
    bottom:0 ;
    left: 40%;
    transform: translateX(-50%);
    margin-bottom: 4rem;

  }
.unique-page-class{
    background-image: url(office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent !important;
}
h1{
     text-align: center;
     font-size: 2rem;
     color: white;
}
p{
    margin: 3.5rem;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.brand-title {
    font-size: 3.0rem;
    margin: .5rem;
    font-weight: bolder;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-weight: bolder;

}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
